@use "sass:color";
@use "variables" as *;

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  min-width: 10ch;
  max-width: 16.833em;
  min-height: 3.167em;
  padding: 0.75em 2.75em;

  font-family: inherit;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.333;
  letter-spacing: 0.01em;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  color: var(--body-bg, #{$light-body-bg});

  border: 0.125rem solid transparent;
  border-radius: 1.5rem;
  background-color: var(--primary-color, #{$light-primary-color});
  box-shadow: 0 0.25rem 0.5rem 0 $button-box-shadow;

  cursor: pointer;
  transition: 220ms ease-in-out;

  &:hover,
  &:active {
    background-color: var(--button-hover, #{$light-button-hover});
  }

  &:focus {
    outline: 0.25em solid var(--focus-visible, #{$light-focus-visible});
    outline-offset: 0.25em;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 0.25em solid var(--focus-visible, #{$light-focus-visible});
    outline-offset: 0.25em;
  }

  &[disabled] {
    background-color: color.change($brand-blue, $saturation: 0%);

    cursor: not-allowed;
  }
}

.button--inverted {
  color: var(--primary-color, #{$light-primary-color});

  border-color: var(--primary-color, #{$light-primary-color});
  background-color: var(--body-bg, #{$light-body-bg});
  box-shadow: none;

  &:hover,
  &:active {
    color: var(--body-bg, #{$light-body-bg});

    border-color: transparent;
  }
}

.button--main-nav {
  display: none;
}

.button--about {
  max-width: 11em;
}

.button--with-icon-about {
  max-width: 13.5em;
}

.button--portfolio {
  max-width: 14.75em;
  min-height: 2.75em;
  padding: 0.5em 2em;

  font-size: 1rem;
  line-height: 1.5;
}

.button__icon {
  flex-shrink: 0;
  flex-basis: auto;

  display: inline-block;
  width: 1.333em;
  height: 1.333em;

  vertical-align: top;
}

.button__text {
  flex-shrink: 0;
  flex-basis: auto;

  display: inline-block;

  vertical-align: top;
}

.button__icon + .button__text {
  padding-left: 0.833em;
}

@media (min-width: $tablet-width) {
  .button {
    max-width: 17.5em;
    min-height: 3em;
    padding: 0.625em 3em;

    font-size: 1rem;
    line-height: 1.5;
  }

  .button--about {
    max-width: 14.375em;
  }

  .button__icon {
    width: 1.5em;
    height: 1.5em;
  }

  .button__icon + .button__text {
    padding-left: 0.625em;
  }
}

@media (min-width: $desktop-width) {
  .button--main-nav {
    display: inline-flex;
    max-width: 30%;
  }
}
