@use "variables" as *;

.logo {
  display: inline-block;

  vertical-align: top;

  border-radius: 1.25em;

  &--header {
    padding: $header-logo-mobile-padding;

    color: var(--heavy-text, #{$light-heavy-text});

    background-color: transparent;
  }

  &--footer {
    padding: 1.188em 1.563em;

    color: $black;

    background-color: var(--footer-contrast, #{$light-footer-contrast});
  }
}

.logo__image {
  display: block;

  &--header {
    width: 5.688em;
    height: 2.063em;
  }

  &--footer {
    width: 8.5em;
    height: 3.125em;
  }
}

@media (min-width: $tablet-width) {
  .logo {
    &--header {
      padding: $header-logo-tablet-padding;
    }
  }

  .logo__image {
    &--header {
      width: 8.5em;
      height: 3.125em;
    }
  }
}
