@use "variables" as *;

.logo {
  display: inline-block;

  vertical-align: top;

  border-radius: 1.25em;

  &--header {
    padding: $header-logo-mobile-padding;

    color: var(--heavy-text, #{$light-heavy-text});

    background-color: transparent;
  }

  &--footer {
    padding: 1.188em 1.563em;

    color: $black;

    background-color: var(--footer-contrast, #{$light-footer-contrast});
  }

  &[href] {
    cursor: pointer;
    transition: 220ms ease-in-out;
  }

  &--header:focus {
    outline: 0.2em solid var(--focus-visible, #{$light-focus-visible});
    outline-offset: 0.25em;
  }

  &--footer:focus {
    outline: 0.2em solid $brand-blue;
    outline-offset: 0.25em;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &--header:focus-visible {
    outline: 0.2em solid var(--focus-visible, #{$light-focus-visible});
    outline-offset: 0.25em;
  }

  &--footer:focus-visible {
    outline: 0.2em solid $brand-blue;
    outline-offset: 0.25em;
  }
}

.logo__image {
  display: block;

  &--header {
    width: 5.688em;
    height: 2.063em;
  }

  &--footer {
    width: 8.5em;
    height: 3.125em;
  }
}

@media (min-width: $tablet-width) {
  .logo {
    &--header {
      padding: $header-logo-tablet-padding;
    }
  }

  .logo__image {
    &--header {
      width: 8.5em;
      height: 3.125em;
    }
  }
}
