@use "variables" as *;

.read-more-link {
  display: inline-flex;
  align-items: center;

  padding-top: 0.188em;

  text-decoration: none;
  vertical-align: top;
  color: var(--primary-color, #{$light-primary-color});

  border-radius: 0.2em;

  cursor: pointer;
  transition: 220ms ease-in-out;

  &:focus {
    outline: 0.25em solid var(--focus-visible, #{$light-focus-visible});
    outline-offset: 0.25em;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 0.25em solid var(--focus-visible, #{$light-focus-visible});
    outline-offset: 0.25em;
  }
}

.read-more-link__text {
  flex-shrink: 0;
  flex-basis: auto;

  display: inline-block;

  font-weight: 700;
  font-size: 0.875em;
  line-height: 1.25em;
  letter-spacing: 0.01em;
  vertical-align: top;
}

.read-more-link__icon {
  flex-shrink: 0;
  flex-basis: auto;

  display: inline-block;
  width: 1.25em;
  height: 1.5em;

  vertical-align: top;
}

.read-more-link__text + .read-more-link__icon {
  // margin-left: 10px;
  margin-left: 0.625em;
}

@media (min-width: $desktop-width) {
  .read-more-link {
    max-width: 40%;
  }

  .read-more-link__text {
    font-size: 1.25em;
    line-height: 1.7;
  }

  .read-more-link__icon {
    width: 1.5em;
  }

  .read-more-link__text + .read-more-link__icon {
    // margin-left: 16px;
    margin-left: 1em;
  }
}
