@use "variables" as *;
@use "mixins" as *;

.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

  width: 100%;

  @include reset-list();
  padding-left: 6.41%;
  padding-right: 6.41%;
  padding-top: 1.125em;

  border-bottom: 0.063em solid var(--footer-contrast, #{$light-footer-contrast});
}

.socials__item {
  flex-shrink: 0;
  flex-basis: auto;

  margin: 0 0.5em;
  margin-bottom: 1.125em;
}

.socials__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.25em;
  height: 2.25em;

  color: $footer-bg;

  border-radius: 50%;
  background-color: var(--footer-contrast, #{$light-footer-contrast});

  cursor: pointer;
  transition: 220ms ease-in-out;

  &:focus {
    outline: 0.25em solid $brand-blue;
    outline-offset: 0.25em;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 0.25em solid $brand-blue;
    outline-offset: 0.25em;
  }
}

.socials__icon {
  flex-shrink: 0;
  flex-basis: auto;

  display: inline-block;
  width: 1.375em;
  height: 1.375em;

  vertical-align: top;
}

@media (min-width: $large-mobile-width) {
  .socials__item {
    margin-left: 0.781em;
    margin-right: 0.781em;
  }
}

@media (min-width: $tablet-width) {
  .socials {
    padding-top: 1em;

    border-bottom-color: transparent;

    background-image: linear-gradient(
      var(--footer-contrast, #{$light-footer-contrast}),
      var(--footer-contrast, #{$light-footer-contrast})
    );
    background-size: 31.25em 0.063em;
    background-position: center bottom;
    background-repeat: no-repeat;
  }

  .socials__item {
    margin: 0 1.25em;
    margin-bottom: 1em;
  }

  .socials__link {
    width: 2.5em;
    height: 2.5em;
  }

  .socials__icon {
    width: 1.5em;
    height: 1.563em;

    &--facebook {
      width: 1.5em;
    }
  }
}
