@use "variables" as *;
@use "mixins" as *;

.testimonial__wrapper {
  @include section-wrapper-padding();
}

.testimonial__title {
  @include section-title();
}

.testimonial__subtitle {
  @include section-subtitle();
}

.testimonial__list {
  margin: 0;

  @include reset-list();
}

.testimonial__item {
  display: none;

  &:first-child {
    display: block;
  }
}

@media (min-width: $large-mobile-width) {
  .testimonial__item {
    max-width: 21.25em;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .testimonial__wrapper {
    position: relative;

    &::before,
    &::after {
      content: "";

      position: absolute;

      @include polka-dot(
        $color: var(--blue, #{$blue})
      );

      transform: rotate(15deg);
    }

    &::before {
      top: 3.75em;
      left: 8.125em;
    }

    &::after {
      z-index: -1;
      right: -0.875em;
      bottom: 4.125em;
    }
  }

  .testimonial__title {
    max-width: 70%;
  }

  .testimonial__subtitle {
    max-width: 70%;
  }

  .testimonial__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .testimonial__item {
    flex-shrink: 0;
    flex-basis: auto;

    display: block;

    width: 30.645%;
    max-width: none;
    margin: 0;
  }

  @supports (display: grid) {
    .testimonial__list {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-template-rows: auto;
      grid-gap: 3.125em;
    }

    .testimonial__item {
      width: auto;
    }
  }
}
