@use "variables" as *;

@mixin reset-list() {
  padding: 0;
  list-style: none;
}

@mixin break-word() {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

@mixin section-wrapper-padding() {
  padding: 3.125em 6.41%;

  @media (min-width: $desktop-width) {
    padding: 6.25em 0.75em;
  }
}

@mixin section-title() {
  margin: 0 auto;
  margin-bottom: 0.643em;

  font-weight: 600;
  font-size: 0.875em;
  line-height: 1.25em;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--primary-color, #{$light-primary-color});

  @media (min-width: $desktop-width) {
    margin-bottom: 0.667em;

    font-size: 1.5em;
  }
}

@mixin section-subtitle() {
  margin: 0 auto;
  margin-bottom: 1.5em;

  font-family: $nunito-family;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.375;
  letter-spacing: 0.003em;
  text-align: center;
  color: var(--heavy-text, #{$light-heavy-text});

  @media (min-width: $desktop-width) {
    margin-bottom: 0.909em;

    font-size: 3.438em;
    line-height: 1.364;
  }
}

@mixin section-description-paragraph() {
  margin: 0;

  font-size: 0.875em;
  letter-spacing: 0.01em;

  @media (min-width: $desktop-width) {
    font-size: 1.25em;
    line-height: 1.6;
  }
}

@mixin polka-dot(
  $color,
  $desktop-color-change: false,
  $width: $dots-el-width,
  $height: $dots-el-height,
  $r: $dot-r,
  $sm-r: $dot-sm-r,
  $bg-size: $dots-bg-size
  ) {
  width: $width;
  height: $height;

  background-image: radial-gradient(
    circle at $r $r,
    $color $sm-r,
    rgba(255, 255, 255, 0) $r
  );

  background-size: $bg-size;
  background-repeat: repeat;

  @if $desktop-color-change {
    @media (min-width: $desktop-width) {
      background-image: radial-gradient(
        circle at $r $r,
        $desktop-color-change $sm-r,
        rgba(255, 255, 255, 0) $r
      );
    }
  }
}
