@use "variables" as *;

@mixin reset-list() {
  padding: 0;
  list-style: none;
}

@mixin break-word() {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

@mixin polka-dot($color, $desktop-color-change: false) {
  width: $dots-el-width;
  height: $dots-el-height;

  background-image: radial-gradient(
    circle at $dot-r $dot-r,
    $color $dot-sm-r,
    rgba(255, 255, 255, 0) $dot-r
  );

  background-size: $dots-bg-size;
  background-repeat: repeat;

  @if $desktop-color-change {
    @media (min-width: $desktop-width) {
      background-image: radial-gradient(
        circle at $dot-r $dot-r,
        $desktop-color-change $dot-sm-r,
        rgba(255, 255, 255, 0) $dot-r
      );
    }
  }
}
