@use "sass:color";

/* Color vars */

/* (a) main colors*/

$white: hsl(0, 0%, 100%);

$black: hsl(0, 0%, 11%);

$grey: hsl(0, 0%, 27%);

$brand-blue: hsl(219, 100%, 61%);

$desaturated-darker-brand-blue: hsl(219, 38%, 42%);

$darker-black: hsl(0, 0%, 5%);

$lighter-grey: hsl(0, 0%, 89%);

$ultra-dark-blue: hsl(216, 31%, 6%);

$full-black: hsl(0, 0%, 0%);

$darker-grey: hsl(300, 2%, 22%);

/* (b) decorative circles */

$faded-brand-blue: color.adjust($brand-blue, $lightness: 2%, $alpha: -0.2);

$rose: hsl(0, 100%, 78%);

/* (c) decorative circles & polka dots */

$red: hsl(0, 92%, 55%);

/* (d) polka dots */

$blue: hsl(223, 100%, 52%);

$orange: hsl(22, 100%, 50%);

$fuchsia: hsl(295, 100%, 50%);

/* (e) star */

$gold: hsl(42, 93%, 60%);

/* (f) icons for services */

$red-icon-fill: hsl(0, 100%, 59%);

$gold-icon-fill: hsl(40, 100%, 50%);

$green-icon-fill: hsl(108, 73%, 64%);

/* Color scheme vars */

$light-body-bg: $white;
$light-heavy-text: $black;
$light-faint-text: $grey;
$light-primary-color: $brand-blue;
$light-focus-visible: $desaturated-darker-brand-blue;
$light-button-hover: color.scale($brand-blue, $lightness: -20%);
$light-services-border: color.change($full-black, $alpha: 0.1);
$light-alt-bg: $light-body-bg; // there is not alt bg in the light color scheme
$light-portfolio-overlay: color.change($full-black, $alpha: 0.15);
$light-testimonial-box-shadow: color.change($full-black, $alpha: 0.05);
$light-footer-contrast: $white;

$dark-body-bg: $darker-black;
$dark-heavy-text: $lighter-grey;
$dark-faint-text: $lighter-grey;
$dark-primary-color: $lighter-grey;
$dark-focus-visible: $brand-blue;
$dark-button-hover: color.adjust($lighter-grey, $lightness: -20%);
$dark-services-border: color.change($white, $alpha: 0.1);
$dark-alt-bg: $ultra-dark-blue;
$dark-portfolio-overlay: color.change($white, $alpha: 0.15);
$dark-testimonial-box-shadow: color.change(hsl(0, 0%, 64%), $alpha: 0.05);
$dark-footer-contrast: $lighter-grey;

/* Color schemes interchange vars */

$footer-bg: $darker-grey;
$button-box-shadow: color.change($brand-blue, $alpha: 0.5);
$intro-box-shadow: color.change($full-black, $alpha: 0.15);
$services-box-shadow: color.change($full-black, $alpha: 0.1);

/* Viewport */

$large-mobile-width: 24.375rem;
$tablet-width: 48rem;
$desktop-width: 79rem;

/* Grid & box model */

$desktop-column-gap: 1.25rem;
$header-logo-mobile-padding: 0.5em;
$header-logo-tablet-padding: 0.625em;

/* Font */

/* Georgia is a serif font, but seems to give a closer match than sans-serif web safe fonts */
$nunito-family: "Nunito", "Nunito-fallback", "Georgia", sans-serif;
$quicksand-family: "Quicksand", "Quicksand-fallback", "Trebuchet MS", sans-serif;

/* Polka dot size */

$dots-el-width: 6.188em;
$dots-el-height: 4.438em;
$dots-bg-size: 1.125em 1.313em;
$dot-r: 0.188em;
$dot-sm-r: 0.125em;
